<section id="portfolio" class="portfolio">
    <div class="section-title">
        <p></p>
    </div>
    <div class="row" >
        <div class="col-lg-12">
            <ul id="portfolio-flters">
                <li *ngFor="let vendor of vendorDetails" (click)="SelectVendor(vendor)"
                    [ngClass]="vendor.isSelected ? 'filter-active' : ''">
                    {{vendor.vendorName}}</li>
            </ul>
            
        </div>
        <div class="col-lg-12">
            <app-new-case-upload [VendorMasterID]="VendorMasterID" [VendorName]="VendorName">
            </app-new-case-upload>
        </div>
    </div>
</section>